# root
.env

# backend
backend/node_modules/
backend/.env

# frontend
frontend/node_modules/
frontend/.env
frontend/dist/

# logs
logs
*.log
npm-debug.log*

# system files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/